[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
pandas = "*"
jupytext = "*"
jupyter-contrib-nbextensions = "*"
ipywidgets = "*"
sympy = "*"
nbgitpuller = "*"
ambiance = "*"
bqplot = "*"
widgetsnbextension = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"
